<!DOCTYPE html>
    <head>
        <style>
            @import url('https://fonts.cdnfonts.com/css/pokemon-solid');
        </style>          
            <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!--link rel="stylesheet" href="/website/static/css/style.css"/-->
    </head>
        <body>
            <div class="banner">
                <div class="navbar">
                    <div class="Group6">
                        ECS 171 Group 6 
                    </div>
                    <ul>
                        <li><a id = "home" href="/home">Home</a></li>
                        <li><a id = "NPR" href = "/npr">Not Pokemon-Related</a></li>
                        <li><a id = "designsdownhill" href = "/designsdownhill">Have Designs Gotten Worse?</a></li>
                    </ul>
                </div>
                <div class=button>
                    <a id = "bug" href="/bug">
                        <button><span></span>
                            BUG
                        </button>
                    </a>
                    <a id = "dark" href="/dark">
                        <button><span></span>
                            DARK
                        </button>
                    </a>
                    <a id = "dragon" href="/dragon">
                        <button><span></span>
                            DRAGON
                        </button>
                    </a>
                    <a id = "electric" href="/electric">
                        <button><span></span>
                            ELECTRIC
                        </button>
                    </a>
                    <a id = "fairy" href="/fairy">
                        <button><span></span>
                            FAIRY
                        </button>
                    </a>
                    <a id = "fighting" href="/fighting">
                        <button><span></span>
                            FIGHTING
                        </button>
                    </a>
                    <a id = "fire" href="/fire">
                        <button><span></span>
                            FIRE
                        </button>
                    </a>
                    <a id = "flying" href="/flying">
                        <button><span></span>
                            FLYING
                        </button>
                    </a>
                    <a id = "ghost" href="/ghost">
                        <button><span></span>
                            GHOST
                        </button>
                    </a>
                    <a id = "grass" href="/grass">
                        <button><span></span>
                            GRASS
                        </button>
                    </a>
                    <a id = "ground" href="/ground">
                        <button><span></span>
                            GROUND
                        </button>
                    </a>
                    <a id = "ice" href="/ice">
                        <button><span></span>
                            ICE
                        </button>
                    </a>
                    <a id = "normal" href="/normal">
                        <button><span></span>
                            NORMAL
                        </button>
                    </a>
                    <a id = "poison" href="/poison">
                        <button><span></span>
                            POISON
                        </button>
                    </a>
                    <a id = "psychic" href="/psychic">
                        <button><span></span>
                            PSYCHIC
                        </button>
                    </a>
                    <a id = "rock" href="/rock">
                        <button><span></span>
                            ROCK
                        </button>
                    </a>
                    <a id = "steel" href="/steel">
                        <button><span></span>
                            STEEL
                        </button>
                    </a>
                    <a id = "water" href="/water">
                        <button><span></span>
                            WATER
                        </button>
                    </a>
                </div>
                <div class="header">
                    <h1>FIGHTING</h1>
                </div>
                <div class="content">
                    <img src="{{url_for('static', filename='../static/pokemonmodel/Fighting0.png')}}" alt="Fighting0">
                    <img src="{{url_for('static', filename='../static/pokemonmodel/Fighting1.png')}}" alt="Fighting1">
                    <img src="{{url_for('static', filename='../static/pokemonmodel/Fighting2.png')}}" alt="Fighting2">
                    <img src="{{url_for('static', filename='../static/pokemonmodel/Fighting3.png')}}" alt="Fighting3">
                </div>
        </body>
</html>
